# URL of the API with the 5000 port
URL_API=""

# Token of the bot
TOKEN=""

# ID of the channel where the bot will send the menu and ID of the owner of the bot to use /echo
CHANNEL_ID=""
OWNER_ID=

# Hour of the day when the bot will send the daily message (24h format):
HOUR=
MINUTE=